<div class="container">
  <!-- <button  (click)="handletest()">ok</button> -->
  <span  class="click" (click)="goback()"><i class="fa-solid fa-angles-left mt-2 " style="color: #0d49af;"></i> Previous </span>
  <div class="d-flex badge bg-primary fw-bold fs-5 justify-content-center align-items-center shadow my-2">
      {{selectedTerrain}}
  </div>
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li [ngbNavItem]="index" *ngFor="let day of dates; let index = index">
        <button ngbNavLink class="day-button"   [class.active]="selectedDayIndex === index" (click)="selectedDayIndex = index">{{ day.day }} {{extractDateFromArray(day.dates[0])}}</button>
        <ng-template ngbNavContent>
          <ul class="list-group">
            <li class="list-group-item d-flex gap-3" *ngFor="let date of day.dates">
             
              <div class="reservation-details w-50 d-flex justify-content-around gap-3  " >
                <ng-container *ngIf="isWheatherLoading; else wheather">
                  <div class="d-flex justify-content-center">
                    <div class="spinner-grow" role="status"> </div>
                  </div>
                </ng-container>
    
                <ng-template  #wheather>
                  <h6 ><i class="fa-solid fa-temperature-quarter fa-beat" style="color: #ff3705;"></i>  {{ getTemperatureFromDate(date)}}</h6>
                </ng-template>
  
                <div  >
                  <span class="reservation-time  "> <i class="fa-regular fa-clock fa-beat" style="color: #1878f7;"></i>  {{ formatDateRange(date) }}</span>
                </div>
              </div>
  
  
  
  
              <div class="reservation-entry   w-50">
               
                <ng-container *ngIf="isCurrentUserReserved(date); else notReservedByCurrentUser">
                  <button class="btn btn-danger w-100 " (click)="showmodaldelete(date,cancelConfirmation)"> Cancel</button>
                </ng-container>
                <ng-template #notReservedByCurrentUser>
                  <ng-container *ngIf="!isOtherUsersReserved(date)">
                    <button class="btn btn-primary w-100" [disabled]="ifDisabled(date)"
                      (click)="openReservationModal(date,content)">Réserver</button>
                  </ng-container >
                  <span *ngIf="isOtherUsersReserved(date)"  
                    class=" w-100 text-center "><i class="fa-solid fa-x fa-beat"></i>  Already Reserved</span>
                </ng-template>
              </div>
            </li>
          </ul>
        </ng-template>
      </li>
  
    </ul>
    
   
  
    <div [ngbNavOutlet]="nav" class="mt-2 shadow"></div>
  </div>
  
  <ng-template #content let-modal>
    <div class="d-flex justify-content-center" *ngIf="reservationService.isLoading">
      <div class="spinner-grow" role="status"> </div>
    </div>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Sélectionner un terrain</h4>
      <button class="btn btn-danger" type="button" (click)="modal.dismiss()">
        <span>X</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="d-flex flex-column align-items-center">
        <div class="text-left">
          <p> <strong> <i class="fa-regular fa-clock fa-beat" style="color: #c20e0e;"></i> {{ selectedDate | date:'dd/MM/yyyy HH:mm' }}</strong></p>
        </div>
      </div>
      <form #formf="ngForm">
        <div class="form-control">
          <label> Againt who : </label>
          <input type="text" class="form-control mt-3" name="againtwho" [(ngModel)]="againstwho"
            placeholder="Entrez quelque chose" required>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Annuler</button>
      <button type="button" [disabled]="formf.invalid  && !againstwho" class="btn btn-primary"
        (click)="sendReservation(modal)">Envoyer</button>
    </div>
  </ng-template>
  
  
  
  <ng-template #cancelConfirmation let-modala>
    <div class="modal-header">
      <h4 class="modal-title text-center" id="modal-basic-title">Confirmation</h4>
      <button class="btn btn-danger" type="button" (click)="modala.dismiss()">
        <span>X</span>
      </button>
    </div>
    <div class="modal-body">
      Are you sure you want to cancel this reservation?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modala.dismiss()"> Keep Reservation</button>
      <button type="button" class="btn btn-danger" (click)="handleCancel(modala)"> Cancel</button>
    </div>
  </ng-template>