<div *ngIf="messagesuccess" class="alert alert-success text-center">
    {{messagesuccess}}
</div>

<div *ngIf="messageerror" class="alert alert-danger text-center">
    {{messageerror}}
</div>

<div class="d-flex justify-content-center my-2" *ngIf="userService.isLoading">
    <div class="spinner-grow" role="status"> </div>
</div>

<div class="goback my-2">
    <span class="click" (click)="goback()"><i class="fa-solid fa-angles-left mt-2 " style="color: #0d49af;"></i>
        Previous </span>
</div>
<div class="shadow  p-2">
    <div class="card text-center">
        <div class="card-header h5 text-white bg-primary">Password Reset</div>
        <div class="card-body ">
            <form #resetPasswordForm="ngForm" (ngSubmit)="handleResetPassword(resetPasswordForm)">
                <div class="form-outline">
                    <input type="text" class="form-control" id="academicemail" name="email" [(ngModel)]="academicEmail"
                        #academicemail="ngModel"
                        [ngClass]="{ 'is-invalid': academicemail.touched && academicemail.invalid }"
                        placeholder="Academic email..." pattern="^.+@etu\.uae\.ac\.ma$" required>

                    <div class="invalid-feedback" *ngIf="academicemail.touched && academicemail.invalid">
                        <p *ngIf="academicemail.errors?.['required']">academic email is required</p>
                        <p *ngIf="academicemail.errors?.['pattern']">academic email should be like .......@etu.uae.ac.ma
                        </p>
                    </div>

                </div>

                <button [disabled]="resetPasswordForm.invalid" class="btn btn-primary w-100 my-2">Reset
                    password</button>

            </form>
        </div>
    </div>
</div>