

<div class="d-flex flex-column flex-xl-row my-xl-5">
    <div class="col-12 col-xl-5   d-flex justify-content-center align-items-center">
        <div class=" w-100 p-2 contain-img shadow">
            <img src="../assets/forgotpassword.png" class="img-fluid img-thumbnail" />
        </div>
    </div>
    <div class="col-12 col-xl-7">

        <div *ngIf="messagesuccess" class="alert alert-success text-center col-12 col-sm-8 mx-auto my-4 ">
            {{messagesuccess}}
        </div>
        
        <div *ngIf="messageerror" class="alert alert-danger text-center col-12 col-sm-8 mx-auto my-4 ">
            {{messageerror}}
        </div>
        
        <div class="d-flex justify-content-center my-2" *ngIf="userService.isLoading">
            <div class="spinner-grow" role="status"> </div>
        </div>


        <div class="shadow  bg-white p-3 col-12 col-sm-8 mx-auto my-4 ">
            <div class="goback my-2">
                <span class="click" (click)="goback()"><i class="fa-solid fa-angles-left mt-2 "
                        style="color: #0d49af;"></i>
                    Previous </span>
            </div>
            <!-- <div class="shadow p-3 bg-light text-center"> -->
            <!-- <div class="card-header h5 text-white bg-dark">  Password Reset</div> -->
            <!-- <div class="card-body "> -->
            <form #resetPasswordForm="ngForm" (ngSubmit)="handleResetPassword(resetPasswordForm)">
                <div>
                    <h4 class="text-center ">Reset Password <i class="fa-solid fa-unlock"></i></h4>
                </div>
                <div class="form-outline">
                    <input type="text" class="form-control" id="academicemail" name="email" [(ngModel)]="academicEmail"
                        #academicemail="ngModel"
                        [ngClass]="{ 'is-invalid': academicemail.touched && academicemail.invalid }"
                        placeholder="Academic email..." pattern="^.+@etu\.uae\.ac\.ma$" required>

                    <div class="invalid-feedback" *ngIf="academicemail.touched && academicemail.invalid">
                        <p *ngIf="academicemail.errors?.['required']">academic email is required</p>
                        <p *ngIf="academicemail.errors?.['pattern']">academic email should be like .......@etu.uae.ac.ma
                        </p>
                    </div>

                </div>

                <button [disabled]="resetPasswordForm.invalid" class="btn btn-primary w-100 my-2">Reset
                    password</button>

            </form>
            <!-- </div> -->
            <!-- </div> -->
        </div>
    </div>

</div>