<div class="container">
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li [ngbNavItem]="index" *ngFor="let day of dates; let index = index">
      <button ngbNavLink class="day-button">{{ day.day }}</button>
      <ng-template ngbNavContent>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let date of day.dates">
            <div class="reservation-entry">
              <span class="reservation-time">{{ formatDateRange(date) }}</span>
              <button class="btn btn-primary w-75" (click)="openReservationModal(date, content)">Réserver</button>
            </div>
          </li>
        </ul>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>

<ng-template #content let-modal>
  <div class="d-flex justify-content-center" *ngIf="reservationService.isLoading">
    <div class="spinner-grow" role="status"> </div>
</div>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Sélectionner un terrain</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="d-flex flex-column align-items-center">
      <div class="text-left">
        <p>{{ selectedDate | date:'dd/MM/yyyy HH:mm' }}</p>
      </div>
      <div class="d-flex gap-5 flex-wrap">
        <div class="terrain" 
        
        [ngClass]="{ 'border border-4 border-primary': selectedTerrain === 'terrain1' }"
        
        (click)="selectTerrain('terrain1')">
          <img src="../../../../assets/images/logo-ensah.png" width="50" alt="Terrain 1">
          <p>Terrain de Foot</p>
        </div>
        <div class="terrain"
       
         [ngClass]="{ 'border border-4 border-primary': selectedTerrain === 'terrain2' }"
         
         (click)="selectTerrain('terrain2')">
          <img src="../../../../assets/images/logo-ensah.png" width="50" alt="Terrain 2">
          <p>Terrain de Volley</p>
        </div>
      </div>
    </div>
    <form #formf="ngForm">
    <div class="form-control">
      <label> Againt who : </label>
      <input type="text" class="form-control mt-3" name="againtwho"   [(ngModel)]="inputValue" placeholder="Entrez quelque chose"  required>
    </div>
  </form>
  </div>
  <div class="modal-footer">
    <button type="button"   class="btn btn-secondary" (click)="modal.dismiss()">Annuler</button>
    <button type="button" [disabled]="formf.invalid || !selectedTerrain" class="btn btn-primary" (click)="sendReservation(modal)">Envoyer</button>
  </div>
</ng-template>