<div *ngIf="profileService.isLoading; else dataContent">
    <!-- Afficher ici votre spinner -->
</div>

<ng-template #dataContent>
    <!-- Afficher ici le contenu des données lorsque le chargement est terminé -->
    <!-- Utilisez "userprofile" pour afficher les données du profil -->

    <div *ngIf="userprofile" class="container-fluid" style="background-color: #f4f5f7;">
        <div class="container  py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-6 mb-4 mb-lg-0">
                    <div class="card mb-3" style="border-radius: .5rem;">
                        <div class="row g-0">
                            <div class="col-md-4 gradient-custom text-center text-white"
                                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                                <img [src]="'../../assets/images/' + userprofile.picture" alt="Avatar"
                                    class="img-fluid shadow   p-2 my-5 bg-primary !spacing border rounded" width="150" />
                            </div>
                            <div class="col-md-8">
                                <div class="card-body p-4">
                                    <h6 class="text-center">Informations</h6>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="col-6 mb-3">
                                            <h6>Academic Email</h6>
                                            <p class="text-muted">{{userprofile.academicEmail}}</p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6>Phone Number</h6>
                                            <p class="text-muted">{{userprofile.phoneNumber}}</p>
                                        </div>
                                    </div>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="col-6 mb-3">
                                            <h6>firstname </h6>
                                            <p class="text-muted">{{userprofile.firstName}}</p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6>lastname</h6>
                                            <p class="text-muted">{{userprofile.lastName}}</p>
                                        </div>
                                    </div>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="col-6 mb-3">
                                            <h6>normal Email </h6>
                                            <p class="text-muted">{{userprofile.normalEmail}}</p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6>grade</h6>
                                            <p class="text-muted">{{userprofile.grade}}</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</ng-template>

<!-- 
<div class="d-flex justify-content-center" *ngIf="profileService.isLoading">
    <div class="spinner-grow" role="status"> </div>
</div> -->

<!-- <section *ngIf="userprofile" class="vh-100" style="background-color: #f4f5f7;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-6 mb-4 mb-lg-0">
                <div class="card mb-3" style="border-radius: .5rem;">
                    <div class="row g-0">
                        <div class="col-md-4 gradient-custom text-center text-white"
                            style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                            <img src="https://lastfm.freetls.fastly.net/i/u/ar0/6e24f0e8ef2a4857a9c6368000915a72.jpg"
                                alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-4">
                                <h6 class="text-center">Informations</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <h6>Academic Email</h6>
                                        <p class="text-muted">{{userprofile.normalEmail}}</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>Phone Number</h6>
                                        <p class="text-muted">{{userprofile.phoneNumber}}</p>
                                    </div>
                                </div>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <h6>firstname </h6>
                                        <p class="text-muted">{{userprofile.firstName}}</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>lastname</h6>
                                        <p class="text-muted">{{userprofile.lastName}}</p>
                                    </div>
                                </div>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <h6>normal Email </h6>
                                        <p class="text-muted">{{userprofile.normalEmail}}</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>grade</h6>
                                        <p class="text-muted">{{userprofile.grade}}</p>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 -->