

<div class="d-flex flex-column flex-xl-row my-xl-5">
    <div class="col-12 col-xl-5   d-flex justify-content-center align-items-center">
        <div class=" w-100 p-2 contain-img shadow">
            <img src="../assets/images_web/fans.png" class="img-fluid img-thumbnail" />
        </div>
    </div>
    <div class="col-12 col-xl-7">

        <div *ngIf="successmessage">
            <div class="alert alert-success text-center col-12 col-sm-8 mx-auto mt-2" role="alert">
                {{successmessage}}
            </div>
        </div>
        
        <div *ngIf="confirmationMessage">
            <div class="alert alert-success text-center col-12 col-sm-8 mx-auto mt-2" role="alert">
                {{confirmationMessage}}
            </div>
        </div>
        
        <div class="d-flex justify-content-center col-12 col-sm-8 mx-auto mt-2" *ngIf="authService.isLoading">
            <div class="spinner-grow" role="status"> </div>
        </div>
        
        <div *ngIf="errormessage">
            <div class="alert alert-danger text-center col-12 col-sm-8 mx-auto mt-2" role="alert">
                {{errormessage}}
            </div>
        </div>


        <form class="shadow bg-white p-4 mb-5  rounded col-12 col-sm-8 mx-auto my-4 " (ngSubmit)="onSubmit(loginForm)"
            #loginForm="ngForm">
            <div class="d-flex justify-content-between align-items-center">
                <!-- <div class="goback my-2 mx-3"> -->
                    <span class="click goback" (click)="goback()"><i class="fa-solid fa-angles-left mt-2 "
                            style="color: #0d49af;"></i>
                        Previous </span>
                <!-- </div> -->
                <span class="badge bg-danger forgotpassword" [routerLink]="['/accueil/reset-password']"> <i
                        class="fa-solid fa-key fa-beat" style="color: #ffffff;"></i> forgot Password </span>
            </div>
            <div>
                <h3 class="text-center text-primary fw-bold card-header">Login <i class="bi bi-box-arrow-in-right"></i></h3>
            </div>
            <div class="form-group">
                <label for="academicemail">Academic Email</label>
                <input type="text" class="form-control" id="academicemail" name="academicmail"
                    [(ngModel)]="loginRequest.academicMail" #academicMail="ngModel"
                    [ngClass]="{ 'is-invalid': academicMail.touched && academicMail.invalid }"
                    pattern="^.+@etu\.uae\.ac\.ma$" required />
                <div class="invalid-feedback" *ngIf="academicMail.touched && academicMail.invalid">
                    <p *ngIf="academicMail.errors?.['required']">academic email is required</p>
                    <p *ngIf="academicMail.errors?.['pattern']">academic email should be like .......@etu.uae.ac.ma</p>
                </div>

            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password"
                    [(ngModel)]="loginRequest.password" #password="ngModel"
                    [ngClass]="{ 'is-invalid': password.touched && password.invalid }" required>
                <div class="invalid-feedback" *ngIf="password.touched && password.invalid">
                    <p *ngIf="password.invalid">password is required</p>
                </div>
            </div>
            <div class="d-flex justify-content-between ">
                <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary w-100 mt-2">login</button>
                <!-- <button  class="btn btn-secondary w-25 mt-2" [routerLink]="['/accueil/signup']"> <i
                class="bi bi-arrow-left"></i> signup </button> -->
            </div>


        </form>
    </div>

</div>