/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

.forgotpassword {
    cursor: pointer;
}

.forgotpassword:hover {
    text-decoration: underline;
}

.contain-img{
    width: 400px;
    height: 400px;
}
.contain-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}