

<div class="container-fluid px-4 mt-4 xx">


  <div class="row" style="min-height: 80vh;">
   
 

      <div class="col-xl-12 d-flex flex-column justify-content-center align-items-center flex-md-row gap-5">
       
          <div class="card shadow" style="max-width: 300px;" [class.resized]="isCardHovered1"
              (mouseenter)="isCardHovered1 = true" (mouseleave)="isCardHovered1 = false"
              (click)="navigateToTerrainFoot()">
              <div class="img-contain">
              <img src="../assets/images_web/terrain_foot.jpeg" class="img-fluid " />
            </div>
              <div class="card-body">
                  <h5 class="card-title text-center">Football Field</h5>

              </div>
          </div>
          <div class="card shadow " style="max-width: 300px;" [class.resized]="isCardHovered2"
              (mouseenter)="isCardHovered2 = true" (mouseleave)="isCardHovered2 = false" (click)="navigateToTerrainVolley()" >
              <div class="img-contain">
                <img src="../assets/images_web/terrain_volleyball.jpg" class="img-fluid " />
                </div>
              <div class="card-body">
                  <h5 class="card-title text-center">Voleyball Field</h5>

              </div>
          </div>
      </div>

  </div>
</div>

<!-- <router-outlet></router-outlet> -->