

<div class="container-fluid px-4 mt-4 xx">

  <div class="row" style="min-height: 80vh;">
      <div class="col-xl-12 d-flex flex-column justify-content-center align-items-center flex-md-row gap-5">
          <div class="card shadow" style="max-width: 300px;" [class.resized]="isCardHovered1"
              (mouseenter)="isCardHovered1 = true" (mouseleave)="isCardHovered1 = false"
              (click)="navigateToTerrainFoot()">
              <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top"
                  alt="Hollywood Sign on The Hill" />
              <div class="card-body">
                  <h5 class="card-title text-center">Terrain de FootBall</h5>

              </div>
          </div>
          <div class="card shadow " style="max-width: 300px;" [class.resized]="isCardHovered2"
              (mouseenter)="isCardHovered2 = true" (mouseleave)="isCardHovered2 = false" (click)="navigateToTerrainVolley()" >
              <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top"
                  alt="Hollywood Sign on The Hill" />
              <div class="card-body">
                  <h5 class="card-title text-center">Terrain de VoleyBall</h5>

              </div>
          </div>
      </div>

  </div>
</div>

<!-- <router-outlet></router-outlet> -->