.test{
    /* box-shadow: 1px 3px 12px -1px rgba(7, 15, 168, 0.78);
-webkit-box-shadow: 1px 3px 12px -1px rgba(7, 14, 147, 0.78);
-moz-box-shadow: 1px 3px 12px -1px rgba(14, 20, 138, 0.78); */
}

.contain-img{
    width: 400px;
    height: 400px;
}
.contain-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

